body {
  background: linear-gradient(110deg, lightpink 33%, rgba(255, 182, 193, 0) 33%), linear-gradient(110deg, #88d7ac 66%, #9b673c 66%);
}

.h4-wrapper {
  width: 90%;
  margin: 0 auto;
}

h4 {
  float: right;
  color: #fff;
  background-color: #008000;
  padding: 10px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 10px;
  width: auto;
}

h2 {
  float: inline-start;
}

#inputs {
  width: auto;
  float: inline-start;
  text-align: left;
}

th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

th:nth-child(5) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

th:last-child, tr td:last-child {
  color: red;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 5px;
}

tr:nth-of-type(odd) td {
  background-color: #ffd3d9;
}

tr:nth-of-type(even) td {
  background-color: #c3a38a;
}

tr:only-child td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr:only-child td:nth-child(5) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

tr:first-child td:nth-child(5) {
  border-top-right-radius: 5px;
} 

tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tr:last-child td:nth-child(5) {
  border-bottom-right-radius: 5px;
}

#data {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  padding: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
}

th {
  background-color: aquamarine;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

th, td {
  padding: 5px;
  width: 19%;
}

thead {
  color: #000;
}

td {
  background-color: lightblue;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  background-color: azure;
  text-align: center;
}

input {
  background-color: whitesmoke;
}

#clear, .delete {
  user-select: none;
  cursor: pointer;
  width: 5%;
}

#clear:hover, .delete:hover {
  filter: brightness(90%);
}

#clear:active {
  border-bottom: 1px solid darkgrey;;
  border-top: 3px solid darkgrey;
  border-right: 1px solid darkgrey;;
  border-left: 3px solid darkgrey;
}

.delete:active {
  border-bottom: 1px solid grey;;
  border-top: 3px solid grey;
  border-right: 1px solid grey;
  border-left: 3px solid grey;
}